$page_width: 720px;
$background: #181818;
$foreground: #e4e4ef;
$dimmed_foreground: desaturate(darken($foreground, 60%), 60%);
$green: #73c936;
$yellow: #ffdd33;
$red: #f43841;

body {
    background: $background;
    color: $foreground;
    width: $page_width;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Cantarell', sans-serif;
}

.event {
    padding: 20px;
    border: 1px solid $dimmed_foreground;
    margin-top: 10px;
    text-align: center;
    background: lighten($background, 1%);

    h1 {
        font-size: 25px;
        margin-bottom: 10px;
        width: $page_width * 0.75;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .countdown {
        font-size: 15px;
    }

    .timestamp {
        position: relative;
        color: $dimmed_foreground;
        font-size: 11px;
        height: 0px;
        text-align: left;

        a {
            color: $dimmed_foreground;
        }
    }

    .watch {
        height: 0px;
        text-align: right;
        color: $red;
    }

    .description {
        margin-top: 20px;
        text-align: left;
        color: desaturate(darken($foreground, 40%), 40%);
        line-height: 20px;
        width: $page_width * 0.75;
        margin-left: auto;
        margin-right: auto;

        a {
            color: darken($green, 5%)
        }
    }
}

.event.past {
    color: $dimmed_foreground;
    background: $background;
    a {
        color: $dimmed_foreground;
    }

    .description {
        color: $dimmed_foreground;
    }

    // TODO(#49): Cancelled stamp is not centered vertically
    .cancelled-stamp {
        position: relative;
        height: 0px;
        color: #f43841;
        font-size: 50px;
        transform: rotate(20deg);
        top: -80px;
    }
}

.event.current {
    border: 3px solid $red;
}

a {
    font-kerning: normal;
    font-family: 'Cantarell', sans-serif;
    color: $green;
    text-decoration: none;
}

strong {
    font-weight: bold;
}

.header {
    padding: 30px;
    text-align: center;

    h1 {
        font-size: 60px;
    }

    .subheader {
        a {
            font-size: 15px;
            border-bottom: 1px solid;

        }
    }
}

.markdown {
    p {
        margin-top: 10px;
    }

    a {
        border-bottom: 1px solid;
    }
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
}
