$page_width: 720px;
$background: #181818;
$foreground: #e4e4ef;
$dimmed_foreground: desaturate(darken($foreground, 60%), 60%);
$green: #73c936;
$yellow: #ffdd33;
$red: #f43841;

body {
    background: $background;
    color: $foreground;
    width: $page_width;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Cantarell', sans-serif;
}

.event {
    padding: 20px;
    border: 1px solid $dimmed_foreground;
    margin-top: 10px;
    text-align: center;
    background: lighten($background, 1%);

    h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .countdown {
        font-size: 15px;
    }

    .description {
        margin-top: 20px;
        text-align: left;
        color: desaturate(darken($foreground, 40%), 40%);
        line-height: 20px;
        width: $page_width * 0.75;
        margin-left: auto;
        margin-right: auto;
    }
}

.event.past {
    color: $dimmed_foreground;
    background: $background;
    a {
        color: $dimmed_foreground;
    }

    .description {
        color: $dimmed_foreground;
    }
}

.event.current {
    border: 3px solid $red;
}

a {
    font-kerning: normal;
    font-family: 'Cantarell', sans-serif;
    font-size: 25px;
    color: $green;
    text-decoration: none;
}

strong {
    font-weight: bold;
}

.header {
    padding: 30px;
    text-align: center;

    h1 {
        font-size: 60px;
    }

    .old-schedule {
        a {
            font-size: 15px;
            border-bottom: 1px solid;

        }
    }

    .beta {
        color: $foreground;
        background: $red;
        padding: 4px;
        border-radius: 10px;
        font-size: 13px;
        position: relative;
        width: 30px;
        left: 445px;
        top: -75px;
        transform: rotate(30deg);
    }
}
