body {
  background: #181818;
  color: #e4e4ef;
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Cantarell", sans-serif;
}

.countdown {
  font-size: 15px;
}

.event {
  padding: 20px;
  border: 1px solid #515151;
  margin-top: 10px;
  text-align: center;
  background: #1b1b1b;
}
.event h1 {
  font-size: 30px;
  margin-bottom: 10px;
}
.event .description {
  margin-top: 20px;
  text-align: left;
}

.event.past {
  color: #515151;
  background: #181818;
}
.event.past a {
  color: #515151;
}

.event.current {
  border: 3px solid #f43841;
}

a {
  font-kerning: normal;
  font-family: "Cantarell", sans-serif;
  font-size: 25px;
  color: #73c936;
  text-decoration: none;
}

strong {
  font-weight: bold;
}
