body {
  background: #181818;
  color: #e4e4ef;
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Cantarell', sans-serif;
}
.countdown {
  font-size: 15px;
}
.event {
  padding: 20px;
  border: 1px solid #4b4b56;
  margin-top: 10px;
  text-align: center;
  background: #1d1d1d;
}
.event h1 {
  font-size: 30px;
  margin-bottom: 10px;
}
.event .description {
  margin-top: 20px;
  text-align: left;
}
.event.past {
  color: #4b4b56;
  background: #181818;
}
.event.past a {
  color: #4b4b56;
}
.event.current {
  border: 4px solid #f43841;
  background: #5b0000;
}
a {
  font-kerning: normal;
  font-family: 'Cantarell', sans-serif;
  font-size: 25px;
  color: #73c936;
  text-decoration: none;
}
strong {
  font-weight: bold;
}
