body {
  background: #181818;
  color: #e4e4ef;
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Cantarell", sans-serif;
}

.event {
  padding: 20px;
  border: 1px solid #515151;
  margin-top: 10px;
  text-align: center;
  background: #1b1b1b;
}
.event h1 {
  font-size: 25px;
  margin-bottom: 10px;
  width: 540px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.event .countdown {
  font-size: 20px;
  margin-bottom: 10px;
}
.event .channel {
  font-size: 15px;
}
.event .timestamp {
  position: relative;
  color: #515151;
  font-size: 11px;
  height: 0px;
  text-align: left;
}
.event .timestamp a {
  color: #515151;
}
.event .watch {
  height: 0px;
  text-align: right;
  color: #f43841;
}
.event .description {
  margin-top: 20px;
  text-align: left;
  color: #848484;
  line-height: 20px;
  width: 540px;
  margin-left: auto;
  margin-right: auto;
}
.event .description a {
  color: #68b531;
}
.event .description ul {
  padding-top: 10px;
}
.event .description ul li {
  margin-left: 20px;
  list-style-type: circle;
}
.event .player {
  padding-top: 20px;
  width: 540px;
  height: 303.75px;
}

.event.past {
  color: #515151;
  background: #181818;
}
.event.past a {
  color: #515151;
}
.event.past .description {
  color: #515151;
}
.event.past .cancelled-stamp {
  position: relative;
  height: 0px;
  color: #f43841;
  font-size: 50px;
  transform: rotate(20deg);
  top: -80px;
}

.event.current {
  border: 3px solid #f43841;
}

a {
  font-kerning: normal;
  font-family: "Cantarell", sans-serif;
  color: #73c936;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

.header {
  padding: 30px;
  text-align: center;
}
.header h1 {
  font-size: 60px;
}
.header .subheader a {
  font-size: 15px;
  border-bottom: 1px solid;
}

.markdown p {
  margin-top: 10px;
}
.markdown a {
  border-bottom: 1px solid;
}

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
}
